<%= form_with(model: screech) do |form| %>
  <% if screech.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(screech.errors.count, "error") %> prohibited this screech from being saved:</h2>
      <ul>
        <% screech.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="mb-3">
    <%= form.label :description, style: "display: block", class:"form-label" %>
    <%= form.text_field :description , class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :username, style: "display: block", class:"form-label" %>
    <%= form.text_field :username , class:"form-control"%>
  </div>

  <div class="mb-3">
    <%= form.submit class:"btn btn-success"%>
  </div>
<% end %>
