<p style="color: green"><%= notice %></p>

<% content_for :title, "Screeches" %>

<h1>Screeches</h1>
<div class="mx-1 my-3">
  <%= form_with url: screeches_path, method: :get, class:"d-flex"  do |form| %>
    <%= form.text_field :query_text, placeholder: "Search", value: params[:query_text], class:"form-control" %>
    <%= form.submit "Search", class:"btn btn-dark mx-2" %>
  <% end %>  
</div>

<table class="table" id="screeches">
  <tbody>
    <% @screeches.each do |screech| %>
      <tr>
        <td>
          <%= screech.username %>
        </td>
        <td>
          <%= screech.description %>
        </td>
        <td>  
          <%= link_to screech , class:"btn btn-outline-primary btn-sm" do%>
            <i class="fa-solid fa-eye"></i>
          <% end %>
        </td>
        <td>  
          <%= link_to edit_screech_path(screech) , class:"btn btn-outline-warning btn-sm" do %> 
            <i class="fa-solid fa-pen"></i>
          <% end %>
        </td>
        <td>  
          <%= button_to screech, method: :delete , class:"btn btn-outline-danger btn-sm" do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <%== pagy_nav(@pagy)%>
</div>