<p style="color: green"><%= notice %></p>

<% content_for :title, "Screeches" %>

<h1>Screeches</h1>
<div class="my-2">
  <%= form_with url: screeches_path, method: :get, class:"d-flex"  do |form| %>
    <%= form.text_field :query_text, placeholder: "Search", value: params[:query_text], class:"input_text" %>
    <%= form.submit "Search", class:"btn btn-dark" %>
  <% end %>
</div>

<table class="table" id="screeches">
  <tbody>
    <% @screeches.each do |screech| %>
      <tr>
        <td>
          <%= screech.username %>
        </td>
        <td>
          <%= screech.description %>
        </td>
        <td>  
          <%= link_to screech , class:"btn" do%>
            <i class="fa-solid fa-eye"></i>
          <% end %>
        </td>
        <td>  
          <%= link_to edit_screech_path(screech) , class:"btn" do %> 
            <i class="fa-solid fa-feather-pointed"></i>
          <% end %>
        </td>
        <td>  
          <%= button_to screech, method: :delete , class:"btn" do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
    


    
  </tbody>
</table>